{% extends 'base.html' %}

{% block content %}


  <img src='static/eye.jpg' id='hero'>
  <div class="faves">

  <div class="container">
    <div clas="row">
        <br>
       <center> <h1>Our Favorite Films</h1>
        <br>
        <div class="col-xs-12 col-md-12 col-lg-4">
            <a href="/movies/793">
 <img class="movie-img" src="http://www.impawards.com/1994/posters/crooklyn.jpg"></a>
</div>
<div class="col-xs-12 col-md-12 col-lg-4">
            <a href="/movies/793">
 <img class="movie-img" src="https://s-media-cache-ak0.pinimg.com/originals/7f/bf/39/7fbf396b1234209ed0c887b8b932476f.jpg"></a>
</div>

<div class="col-xs-12 col-md-12 col-lg-4">
            <a href="/movies/185">
 <img class="movie-img" src="https://milesherndon.com/uploads/blogImages/psycho-movie-poster-josh-miles.gif"></a>
</div>

<div class="col-xs-12 col-md-12 col-lg-4">
            <a href="/movies/164">
 <img class="movie-img" src="https://alienationmentale.files.wordpress.com/2011/10/abyss-poster.jpg"></a>
</div>
<div class="col-xs-12 col-md-12 col-lg-4">
            <a href="/movies/191">
 <img class="movie-img" src="https://www.movieposter.com/posters/archive/main/37/MPW-18717"></a>
</div>

<div class="col-xs-12 col-md-12 col-lg-4">
            <a href="/movies/27">
 <img class="movie-img" src="http://content6.flixster.com/movie/11/16/79/11167976_800.jpg"></a>
</div>


<div class="col-xs-12 col-md-12 col-lg-4">
            <a href="/movies/25">
 <img class="movie-img" src="http://i.imgur.com/NWbwX7s.jpg"></a>
</div>
<div class="col-xs-12 col-md-12 col-lg-4">
            <a href="/movies/1035">
 <img class="movie-img" src="http://vignette4.wikia.nocookie.net/disney/images/a/ac/Cool_Runnings_DVD_Cover.jpg/revision/latest?cb=20141125222231"></a>
</div>

<div class="col-xs-12 col-md-12 col-lg-4">
            <a href="/movies/908">
 <img class="movie-img" src="http://mtv.mtvnimages.com/shared/media/images/acovers/standard/dra900/a947/a94730mhefu.jpg"></a></center>
</div>




</div>


</div>

</div>





{% endblock %}